*{
  --blue-clr: rgb(0, 125, 220);
  --main-clr: rgb(220, 220, 220);
  --header-clr: white;
  --read: rgb(77, 255, 0);
  --unread: rgb(255, 234, 0);
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'robotoregular';
}
html, body{
  height: 100%;
}
.container{
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}
.header{
  display: grid;
  padding:6px;
  font-weight: 900;
}
.title{
  font-family: 'robotobold';
  font-size: 24px;
  place-self: center;
  
}
.main{
  background-color: var(--main-clr);
}
button.submit{
  background-color: var(--blue-clr);
  padding: 5px 16px;
  border-radius: 16px;
  color: white;
}

.cards{
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  justify-content: center;
  gap: 24px;
}
.cards .card, .input{
  padding: 20px;
  border-radius: 16px;
  height: 200px;
  background-color: var(--header-clr);
  display: grid;
  border-left: 12px solid var(--blue-clr);
}
.cards .card{
  justify-items: center;
  position: relative;
  border-left: 12px solid var(--unread);
}
.cards .card.read{
  border-left: 12px solid var(--read);
}

.bookName{
  font-family: 'robotobold';
  font-size: 2em;
  justify-self: center;
}
#bookName{
  padding-left: 0.2em;
  width: 100% ;
  font-family: 'robotobold';
  font-size: 0.8em;
}
 #author{
  justify-self: end;
  padding-left: 0.4em;
}
.author{
  text-align: center;
  justify-self: center;
}
#pages{
  width: 5em;
  padding-left: 0.2em;
}
input{
  border-radius: 10px;
  border:1px solid var(--blue-clr);
  overflow: visible;
}
.input{
  position: relative;
}
.submit{
  position:absolute;
  justify-self: end;
  width: 30%;
  bottom: 0;
  margin:1em;
}
.remove{
  display: none;
  background: red;
  border-radius: 100px;
  width: 36px;
  height: 36px;
  position: absolute;
  right:0%;
  top: 0;
  padding:5px;
}
.card:hover .remove{
  display: block;
}
.edit{
  display: none;
  background: blue;
  border-radius: 100px;
  width: 36px;
  height: 36px;
  position: absolute;
  right:0;
  bottom: 0;
  padding: 8px;
}
.card:hover .edit{
  display: block;
}
.isRead{
  font-weight: 700;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap:9px;
  text-align: center;
  align-items: center;
  border-radius: 16px;
  padding: 0 16px;
}
.read .isRead{
  background-color: var(--read);
}
.unread .isRead{
  background-color: var(--unread);
}
.edit:hover, .remove:hover, button:hover, input[type="checkbox"]{
  cursor: pointer;
}